div {display:inline-block; min-width:400px;}
label {width:100%; float:left;}
input {width:70%; float:right;}
button {width:45%; margin:inherit;}
p {text-align: right;}
h1 {font-size: x-large; text-align:center;}
